<p>
  student works!
</p>
<div class="container">
  <div class="rows">
      <div class="col-6">
<form>
  <div class="form-group">
  <label>Enter Your Name</label>
  <input id="name" type="text" class="form-control">
</div>

<div class="form-group">
    <label>Enter Your geneder</label>
    <input id="geneder" type="text" class="form-control">
</div>

<div class="form-group">
  <label>Enter Your Mobile Number</label>
  <input id="mobile" type="text" class="form-control">
</div>

<div class="form-group">
  <label>Enter Your College Name</label>
  <input id="college" type="text" class="form-control">
</div>

<div class="form-group">
  <label>Enter Your Email id</label>
  <input id="college" type="text" class="form-control">
</div>

<div class="form-group">
  <label>Enter Your Batch Name</label>
  <input id="college" type="text" class="form-control">
</div>
<div>
  <button class="btn btn-primary">Submit</button>
</div>