<div class="container">
  <div class="rows">
      <div class="col-6">
<form>
    <div class="form-group">

       <label for="StudName">Please enter your username</label>
        <input required minlength="5" ngModel name="StudName" #name="ngModel" id="StudName" (change)="LogChange(name)" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="!name.valid">Minimum Username Length Should Be 5 </div>
      

</div>

<div class="form-group">

  <label for="collegeName">Please enter your College Name</label>
   <input required ngModel name="collegeName" #collegeName="ngModel" id="collegeName" (change)="LogChange(collegeName)" type="text" class="form-control">
   <div class="alert alert-danger" *ngIf="!collegeName.valid">College Name Is Mandatory</div>
 

</div>

<div class="form-group">

  <label for="password">Please enter your Password</label>
   <input required maxlength="7" ngModel name="password" #password="ngModel" id="password" (change)="LogChange(password)" type="password" class="form-control">
   <div class="alert alert-danger" *ngIf="!password.valid">Maximum Password Length Should Be 7</div>
 

</div>

<div>
  <button class="btn btn-primary">Submit</button>
</div>
</form>
</div>
</div>
</div>